
div {
    font-family: monospace;
    font-size: 110%;
}

.defaultDiv {
    margin-top: 3%;
    background-color: #6D6D69;
    padding: 2%;
}

.defaultTitle {
    font-size: 215%;
    border-bottom: .1em solid;
    width: 40%; 
    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
    text-align: center;
    margin: auto;
}

