
.typedText {
  font-family: monospace;
  border-right: 1% solid black; 
  animation: blink 0.7s step-end infinite;
  color: white;    
           
}
  @keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: white; }
  }

  