.panel {
    display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 16px;
    pointer-events: none;
    position: relative;
    padding: 24px;
    margin: 64px;
    border-radius: 8px;
    background-color: rgba(50, 50, 50, 0.65);
}
.panel > h1 {
    display: flex;
    flex: 50px; flex-grow: 0; flex-shrink: 0;
    align-items: center;
    justify-content: center;
}
.panel > * {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.textBox {
    margin: 8px;
}

.mainButton {
    background-color: rgba(55, 45, 150, .65);
    border-color: rgb(137, 137, 137);
    border-style: solid;
    width: 256px;
    height: 28%;
    font-size: 1.3rem;
}